<section id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1><span>Бъдете в крак с времето</span></h1>
                    <h2>Удобно, достъпно и сигурно</h2>
                    <div class="text-center text-lg-start">
                        <a class="btn-get-started scrollto">Започни сега</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="assets/images/landing-page-images/book-your-taxi.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
        </g>
    </svg>
</section>

<section id="book" class="about">
    <div class="row content">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-4 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                <div class="section-title" data-aos="fade-up">
                    <h2>Поръчай сега</h2>
                </div>
                <h3>ТОП 5 най-предпочитани компании</h3>
                <p>Тук са таксиметровите компании, станали любими на много клиенти. Ако смятате, че вашата компания също би могла да застане на челните позиции, то тогава защо също не станете част от екипа на TaxiBook? <a asp-area="Identity" asp-controller="Account" asp-action="Register">Присъедини се</a></p><br/>
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                            <th style="background-color:#17B57D; color:white;" class="text-center">№</th>
                            <th style="background-color:#17B57D; color:white;" class="text-center">Компания</th>
                            <th style="background-color:#17B57D; color:white;" class="text-center">Цена за километър (лв.)</th>
                            <th style="background-color:#17B57D; color:white;" class="text-center">Област</th>
                            <th style="background-color:#17B57D; color:white;" class="text-center">Обади се точно сега</th>
                            <th style="background-color:#17B57D; color:white;" class="text-center">Поръчай онлайн</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>1</td>
                            <td>ВИП Такси</td>
                            <td>1.20</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:0889874321">0889874321</a></td>
                            <td><a href="*"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>1</td>
                            <td>ВИП Такси</td>
                            <td>1.20</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:0889874321">0889874321</a></td>
                            <td><a href="*"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>1</td>
                            <td>ВИП Такси</td>
                            <td>1.20</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:0889874321">0889874321</a></td>
                            <td><a href="*"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>1</td>
                            <td>ВИП Такси</td>
                            <td>1.20</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:0889874321">0889874321</a></td>
                            <td><a href="*"><i class="fas fa-plus"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <a role="button" id="myButton" style="width:100%; background-color:#17B57D;" class="btn btn-success btn-block">Виж всички</a>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                <div class="section-title" data-aos="fade-up">
                    <h2>За проекта</h2>
                </div>
                <h3>Приложението предлага</h3>
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-emoji-smile"></i></div>
                    <h4 class="title"><a>Удобство</a></h4>
                    <p class="description">Вариация от възможности на едно място, осигуряващи пълното удобство на потребителя.</p>
                </div>
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-graph-up"></i></div>
                    <h4 class="title"><a>Комуникация на по-високо ниво</a></h4>
                    <p class="description">Пряк достъп до телефон за връзка на избрана компания за осъществяване на обаждане и опция за онлайн извършване на поръчка, включваща пряко следене на вашия превоз.</p>
                </div>
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-stars"></i></div>
                    <h4 class="title"><a>Шанс за всяка компания да блесне</a></h4>
                    <p class="description">Тепърва навлизате в бранша или сте доказали се вече в него? Това няма значение, добре дошли сте тук, ключът за достъп е лицензът на компанията ви.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                <!-- Uncomment below if you decide to link a video -->
                <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
            </div>
        </div>
    </div>
</section>
