<section class="col-lg-6">
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input disabled type="email" class="form-control" value="{{company.name}}" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea disabled class="form-control" rows="3">{{company.description}}</textarea>
        </div>
    </form>
</section>
